<div class="book-detail">
  <div class="row">
    <div class="col-md-6">
     <%=image_tag("person.png",:size => "50x50",:style=>"margin:40px 10px; ,display:inline; ")%>
   </div>
   <div class="col-md-6">
    <h4><%= @user.name %></h4>
     <p><%= @user.email %></p>
     <%=link_to("編集","/users/#{@user.id}/edit")%>
   </div>
  </div>
  <% @user.books.each do |book| %>
    <div class="row">
     <div class="col-md-6">
      <%=image_tag("book.png",:size => "50x70",:style=>"margin:40px 10px; ,display:inline; ")%>
     </div>
     <div class="col-md-6 center-block">
       <div class="d-flex align-items-center">
         <%= link_to(book.title, "/books/#{book.id}",:style=>"text-align:center;") %>
         <p><%=book.author%></p>
      </div>
    </div>
   </div>
 <% end %>

</div>
