<div class="main">
  <div class="main-contents1">
    <h3>
      ビジネス・経済
    </h3>
    <ul>
     <li>
       <%=link_to(Field.find_by(id:1).name,'books/details/1',style:"display:inline-bock; font-size:18px; text-align:center;")%>
     </li>
     <li>
       <%=link_to(Field.find_by(id:2).name,'books/details/2',style:"display:inline-bock; font-size:18px; text-align:center;")%>
     </li>
     <li>
       <%=link_to(Field.find_by(id:3).name,'books/details/3',style:"display:inline-bock;  font-size:18px; text-align:center;")%>
     </li>
     <li>
       <%=link_to(Field.find_by(id:4).name,'books/details/4',style:"display:inline-bock; font-size:18px; text-align:center;")%>
     </li>
     <li>
       <%=link_to(Field.find_by(id:5).name,'books/details/5',style:"display:inline-bock; font-size:18px; text-align:center;")%>
     </li>
     <li>
       <%=link_to(Field.find_by(id:6).name,'books/details/6',style:"display:inline-bock; font-size:18px; text-align:center;")%>
     </li>
    </ul>
  </div>
  <div class="main-contents2">
    <h3>
      実用
    </h3>
    <ul>
     <li>
       <%=link_to(Field.find_by(id:7).name,'books/details/7',style:"display:inline-bock; font-size:18px; ")%>
     </li>
     <li>
       <%=link_to(Field.find_by(id:8).name,'books/details/8',style:"display:inline-bock; font-size:18px; ")%>
     </li>
     <li>
       <%=link_to(Field.find_by(id:9).name,'books/details/9',style:"display:inline-bock; font-size:18px; ")%>
     </li>
    </ul>
  </div>
  <div class="main-contents3">
    <h3>
      文学・その他
    </h3>
    <ul>
     <li>
       <%=link_to(Field.find_by(id:10).name,'books/details/10',style:"display:inline-bock; font-size:18px; ")%>
     </li>
     <li>
       <%=link_to(Field.find_by(id:11).name,'books/details/11',style:"display:inline-bock; font-size:18px; ")%>
    </li>
   </ul>
  </div>
</div>
